*{
    margin: 0;
    padding: 0 ;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0) ;
    color: aliceblue;
}
#header{
width: 100%;
height: 100vh;
background-image: url(images/BackgroundImg.png);
background-size: cover;
background-position: center;


}
.container{
    padding: 10px 3%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 100px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a ::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #0260ec;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a :hover ::after{
    width: 100%;
}
.headerText{
    margin-top: 16%;
    font-size: 30px;
}
.headerText h2 span{

    color: blue;
    background-color: aliceblue;
    font-size: 150%;
}
.headerText p{
    font-size: 25px;
}
/*--------------------------Our Sevices--------------*/
#aboutUs{
    padding: 100px 0;
    color: aliceblue;

}
.aboutUsRow {
    justify-content: space-between;
    flex-wrap: wrap;  
}
.aboutColumn1 {
    flex-basis: 35%;

}
.aboutColumn1 img {
    width: 100%;
    border-radius: 5%;
}

.aboutColumn2 {
    flex-basis: 60%;
}
.tabServices{
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}
.tabLinks{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0260ec;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5;

}
.tabLinks.activeLink::after{
    width: 100%;

}
.tabContent{
    display: none;
}
.tabContent.activeTab{
    display: block;
}
/*---------------------------contact--------------------------*/
/*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(image/GreyCodeImg.jpeg);
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: aliceblue;
}
.contact .content p {

    font-weight: 300;
    color: aliceblue;
}
.containerr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerr .contactInfo {
 width: 50%;
 display: flex;
 flex-direction: column;
}
.containerr .contactInfo .box {
position: relative;
padding: 20px 0;
display: flex;
}
.containerr .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}
.containerr .contactInfo .box .text {
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    color: aliceblue;
    font-weight: 300;

}
.containerr .contactInfo .box .text h3 {
    font-weight: 500;
    color:#00bcd4;
}
.contactForm{
 width: 40%;
 padding: 40px;
 background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color:#333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input , .contactForm .inputBox
 textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color:#e91e63;
    font: size 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}

